{% extends "base.html" %}
{% load static %}

    {% block header_style %}
            <link rel="stylesheet" href="{% static "css/About-css.css" %}">
    {% endblock %}

    {% block main %}
        <div id="section" class="col-lg-12" style="margin-top: 60px;">
        <img src="{% static "images/Edu_Dar.png" %}" alt="" width="100%">
        <br>
        <br>
        <br>
        <div class="type-border">
            <h2 class="About-head"><b>درباره ی اسکوب</b></h2>
            <div class="type-border" align="center">
                <h4 style="margin-right: 10px;margin-left: 10px;">وبسایت اسکوب ، در سال 1398-1399 ساخته شد و در سال
                    1399شروع به کار در حوزه های علمی کرد. هدف طراحان و نوآوران سایت اسکوب ، افزایش سواد علمی جامعه ی
                    ایرانی است و طراحان اسکوب امیدوار هستند بتوانند قدمی –هر چند بسیار کوچک- بردارند و به جامعه ی ایرانی
                    کمک کنند .
                    این وبسایت موضوعات مختلف علمی مانند علوم کامپیوتر ، علوم تجربی و غیره را در بر گرفته است و همگان می
                    توانند به آموزش های رایگان و غیر رایگان این وبسایت دسترسی داشته باشند .<br><br>
                    وبسایت اسکوب ، تنها یک وبسایت علمی نیست ... بلکه ترکیبی از یک وبسایت علمی و وبسایتی تجاری است که
                    دارای محصولات مختلف (چه مرتبط با مباحث علمی و چه غیر مرتبط) است و می توانید محصولات مورد نیاز خود را
                    در اسکوب پیدا کنید و خریداری کنید .<br><br>
                    امیدواریم به جامعه ی علمی کمک کرده باشیم. <br></h4>
                <h4 align="left" style="margin-left: 10px;">تیم برنامه نویسان اسکوب
                </h4>
            </div>
        </div>
        <br>
        <h4>اگر می خواهید به آموزش های ما دسترسی پیدا کنید ، <a href="/login">وارد شوید!</a></h4>
        <br>
    </div>
    {% endblock %}



