{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="row" style="margin-top: 60px">
        <h1 class="text text-center text-success">
            نتایج جستجو-----------------------------------
            <a class="btn btn-info" href="/courses">مشاهده ی همه ی دوره ها</a>
            <a class="btn btn-info" href="/products">مشاهده ی همه ی محصولات</a>
        </h1>

        <br>
        <hr>
        <br>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="row" style="border: inset 1px rgb(225,225,225);padding: 5px">
                <h2 class="text-center">دوره ها</h2>
                {% for item in course_list %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% include "base/item-thumb.html" with item=item type='courses' address=item.id %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="row" style="border: inset 1px rgb(225,225,225);padding: 5px">
                <h2 class="text-center">محصولات</h2>
                {% for item in product_list %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% include "base/item-thumb.html" with item=item type='products' address=item.slug %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}