{% extends "base_course.html" %}
{% load static %}

{% block header_style %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>
        #change-course-author {
            background-color: #00b800;
            font-weight: bold;
            color: white;
            text-decoration: none;
            padding: 10px 25px;
            padding-bottom: 15px;
            border-radius: 25px;
            transition: all ease-in-out 500ms;
        }

        #change-course-author:hover {
            background-color: #00ffa6;
            color: black;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row">

        <br><br>
        {% if request.user.is_superuser or user_fullname == object.master %}
            <h2 class="text text-center">
                <a class="text text-center text-primary" id="change-course-author"
                   href="/admin/courses/course/{{ object.id }}">
                    ویرایش
                </a>
            </h2>
        {% endif %}
        <br><br>
        <div id="sidebar" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="pish">
                <div class="panel panel-heading text-center" style="font-size:large;font-weight: 500;">مدرس دوره
                    : {{ object.master }}</div>
                <a href="/masters/{{ master_id }}">
                    <img src="{{ master_img.url }}" class="img-circle" width="50%" height="50%"
                         style="margin-right: 70px;">
                </a>
                <hr>
                <p>
                    {{ master_des }}
                </p>
            </div>

            <br><br>

            <div class="pish">
                <h4 class="pish_info_title">اطلاعات دوره</h4>
                <ul>
                    <li><i class="glyphicon glyphicon-education"> </i> سطح :‌ {{ object.level }}</li>
                    <br>
                    <li><i class="glyphicon glyphicon-edit"> </i> وضعیت دوره : {{ object.condition }}</li>
                    <br>
                    <li><i class="glyphicon glyphicon-bitcoin"> </i> قیمت :
                        {% if object.price == 0 %}
                            رایگان
                        {% else %}
                            {{ object.price }} تومان
                        {% endif %}
                    </li>
                    <br>
                </ul>
            </div>
        </div>
        <div id="main" class="col-lg-8 col-md-8 col-sm-6 col-xs-12"
             style="border: solid 2px lightgray; padding: 10px;">
            <h2 class="text-info text-center">دوره ی {{ object.title }}</h2>
            <img src="{{ object.image.url }}" style="border-radius: 5px" width="100%" height="100%">
            <hr>
            <p style="font-weight: 700;">معرفی دوره:</p>
            <p>{{ object.description }}</p>
            <hr>
            <p style="font-weight: 700;">پیش نیاز ها:</p>
            <p>{{ object.pqs }}</p>
            <br>
            <hr>
            <div class="text-center">
                <h3>با این دوره حال کردید؟</h3>
                <form method="POST">
                    {% csrf_token %}
                    <button name="up" type="submit" class="btn btn-success" value="up">حال کردم :)</button>
                    <button name="down" type="submit" class="btn btn-danger" value="down">حال نکردم :(</button>
                </form>
            </div>
            <br>
            <hr>
            <h3 class="text-center" style="font-weight: 700;">پیش نمایش</h3>
            <video width="100%" height="100%" controls>
                <source
                        src="{{ object.trailer }}"
                        type="video/mp4">
            </video>
            <br><br><br><br><br>
            <hr>
            <h2>قسمت ها:</h2>
            {% if request.user.is_authenticated %}
                <ul style="background-color: rgb(230, 230, 230);padding: 20px;">
                    <li>
                        <a href="http://8upload.ir/uploads/f649873976.rar"
                           class="btn btn-primary btn-block" style="zoom: 1.5;width: 50%;">قسمت پیش نمایش</a></li>
                    <br>
                    <li>
                        <a href="https://hw17.cdn.asset.aparat.com/aparat-video/4cf58e7089f0ea4a15d7fa012ec10be621044721-720p.mp4"
                           class="btn btn-primary btn-block" style="zoom: 1.5;width: 50%;">قسمت اول</a></li>
                    <br>
                    <li>
                        <a href="https://as6.cdn.asset.aparat.com/aparat-video/a2f3638edb845348f9eaa9b3db04cdf420954970-720p.mp4"
                           class="btn btn-primary btn-block" style="zoom: 1.5;width: 50%;">قسمت دوم</a></li>
                    <br>
                    <li>
                        <a href="https://as11.cdn.asset.aparat.com/aparat-video/f9ebe5c020338e654d8d9dc26269cd1720955056-720p.mp4"
                           class="btn btn-primary btn-block" style="zoom: 1.5;width: 50%;">قسمت سوم</a></li>
                    <br>
                    <li>
                        <a href="https://as8.cdn.asset.aparat.com/aparat-video/a282adf8c6e8a92e95caa3a25ba4a78e21045318-720p.mp4"
                           class="btn btn-primary btn-block" style="zoom: 1.5;width: 50%;">قسمت چهارم</a></li>
                    <br>
                </ul>
            {% endif %}
            {% if request.user.is_authenticated == False %}
                <h4 class="text-center text-danger">اول باید وارد شوید</h4>
                <a href="/login" class="btn btn-success">ورود</a>
            {% endif %}

        </div>

    </div>
{% endblock %}