{% extends "base.html" %}
{% load static %}

{% block main %}
    <h1 class="text-center">همه اساتید</h1>
    <br>
    <div class="row">
        {% for master in object_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img class="img-circle" src="{{ master.image.url }}" alt="{{ master.title }}">
                    <div class="caption">
                        <hr>
                        <h3>{{ master.title }}</h3>
                        <hr>
                        <p><a href="/masters/{{ master.id }}" class="btn btn-default"
                           role="button">مشاهده ی مدرس</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}