{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if title|length > 0 %}
    <title>{{ title }}</title>
{% else %}
    <title>{{ object.title }}</title>
{% endif %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/boot/bootstrap-rtl.css" %}">
<link rel="stylesheet" href="{% static "css/main-css.css" %}">
<link rel="stylesheet" href="{% static "css/footer.css" %}">
<link rel="icon" href="{% static "images/Scob icon.png" %}">
<link rel="glyphicon" href="{% static "fonts/glyphicons-halflings-regular.svg" %}">
<link rel="stylesheet" href="{% static "css/main.min.css" %}">
<style>
    @font-face {
        font-family: Sahel;
        src: url("{% static "fonts/fonts/Sahel.eot" %}");
        src: url("{% static "fonts/fonts/Sahel.ttf" %}");
        src: url("{% static "fonts/fonts/Sahel.woff" %}");
    }

</style>
