{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>درباره ی ما</title>
    <link rel="stylesheet" href="{% static "css/boot/bootstrap-rtl.css" %}">
    <link rel="icon" href="{% static "images/Scob icon.png" %}">
</head>

<body>
    <h1 class="text-info text-center">درباره ی ما</h1>
    <hr style="zoom: 3;border-color: lightgray;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
        <img src="{% static "images/ecc.png" %}" width="100%" height="100%">
        <hr style="zoom: 3;border-color: lightgray;">
        <p>این سایت در سال ۱۳۹۸ هجری شمسی راه اندازی شد و</p>
        <p>به قصد کمک به راختی مردم بیشتر سایت های مهم مانند دیجیکالا و ایمو و تاپلرن و فریلنسر و ...</p>
        <p>را با هم ترکیب کرد و برای کمک به راحتی مردم به پا خواست</p>
        <br><br><br><br>
    </div>

</body>

</html>