{% extends "base.html" %}
{% load static %}

{% block main %}
    <div id="section">
        <div id="cart"
             style="margin-top: 60px;margin-left: auto;margin-right: auto;width: 80%;border: darkgrey dashed 5px;background-color: lightgray;">
            <h3 class="text-center" style="
            margin: 20%;
            text-align: center;
            font-size: 200%;
            font-style: italic;
            ">سبد خرید شما خالی است</h3>
        </div>
    </div>
    <br><br><br>
{% endblock %}