@font-face { font-family: yekan; src: url('../files/fonts/B\ Yekan_YasDL.com.ttf');}

nav{
    background-color: rgb(26, 106, 211);
}
.line-under-slide{
    border: black 1px solid;
}
.search-bar{
    width: 400px;
    font-family: yekan;

}
.course-btn{
    width: 70%;
    border-radius: 20px;
    font-size: 125%;
    color: black;
    background-color: rgb(0, 162, 255);
    border: 1px solid black;
    position: relative;
    bottom: 75px;
    right: 15%;
    visibility: hidden;
    color: black;
    font-family: yekan;
}
.btn-img{
    width: 100%;
}
.img-but{
    height: 80%;
}
.img-but:hover img {
    filter: brightness(30%);
}
.img-but:hover .course-btn{
    visibility: visible;
}
.price-box{
    text-align: left;
    background-color: #1bc0f8;
    border-radius: 20px;
    font-family: yekan;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    zoom: 1;
    float: left;
    margin-top: -7.5px;
    margin-left: 10px;
}
.href-thumb{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.thumbnail{
    height: 125%;
}
.Footer {
    background-color: rgb(34, 168, 221);
    width: 100%;
}
.Footer-H {
    font-family: yekan;
    color: white;
    text-align: right;
    margin-right: 40px;
    font-size: 25px;
}
.Footer-link {
    font-family: yekan;
    color: white;
    text-align: right;
    margin-right: 100px;
    font-size: 20px;  
}
.Footer-link:hover {
    color: rgb(0,0,0);
    text-decoration: none;

}
.Footer-link-1 {
    font-family: yekan;
    color: white;
    text-align: right;
    margin-right: 57.5px;
    font-size: 20px;  
}

.Footer-link-1:hover {
    color: rgb(0,0,0);
    text-decoration: none;
}