<style>
    .Footer-link{
        transition: all ease-in-out 200ms;
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
    .Footer-link:hover{
        letter-spacing: 2px;
    }
    .Footer-link-1{
        transition: all ease-in-out 200ms;
        margin-right: 100px;
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
    .Footer-link-1:hover{
        letter-spacing: 2px;
    }
</style>
<div id="footer" class="col-lg-12 Footer">
    <br>
    <div align="right">
        <span align="right" class="Footer-H">پیوند ها</span>
        <br>
        <a href="/"class="Footer-link" align="right">خانه</a>
        <br>
        <a href="/login" class="Footer-link" align="right">ورود</a>
        <br>
        <a href="/contact_us" class="Footer-link" align="right">تماس با ما</a>
        <br>
        <a href="/register" class="Footer-link-1" >ثبت نام</a>

        <br>
        <a href="/about-us" class="Footer-link" align="right">درباره ما</a>
        <br>
    </div>
    <br>
</div>