<style>
    .Footer-link{
        transition: all ease-in-out 200ms;
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
    .Footer-link:hover{
        letter-spacing: 2px;
    }
    .Footer-link-1{
        transition: all ease-in-out 200ms;
        margin-right: 100px;
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
    .Footer-link-1:hover{
        letter-spacing: 2px;
    }

</style>
<div id="footer">
            <ul class="all-ul">
                <li class="nd footer-items">
                    <ul class="itm-ul">
                        <a href="/"><li class="itm-ft">خانه</li></a>
                        <a href="/contact-us"><li class="itm-ft">تماس با ما</li></a>
                        <a href="/login"><li class="itm-ft">ورود</li></a>
                        <a href="/register"><li class="itm-ft">ثبت نام</li></a>
                    </ul>
                </li>
                <li class="nd footer-items">
                    <ul class="itm-ul">بخش های مختلف سایت
                        <a href="/"><li class="itm-ft">خانه</li></a>
                        <a href="/products/"><li class="itm-ft">محصولات</li></a>
                        <a href="/courses/"><li class="itm-ft">آموزش ها</li></a>
                    </ul>
                </li>
                <li class="st footer-p">
                    ساخته شده توسط طراحان- اسکوب
                </li>
            </ul>
        </div>