{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static "images/Scob icon.png" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/products.css" %}">
<link rel="stylesheet" href="{% static "css/footer.css" %}">
<link rel="stylesheet" href="{% static "css/boot/bootstrap-rtl.css" %}">
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "js/bootstrap-rtl.js" %}"></script>
<script src="{% static "js/product_functions.js" %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
    @font-face {
        font-family: Sahel;
        src: url("{% static "fonts/fonts/Sahel.eot" %}");
        src: url("{% static "fonts/fonts/Sahel.ttf" %}");
        src: url("{% static "fonts/fonts/Sahel.woff" %}");
    }

</style>
{% if title|length > 0 %}
    <title>{{ title }}</title>
{% else %}
    <title>{{ object.title }}</title>
{% endif %}
