<div id="header">

    <nav class="navbars navbar-fixed-top">
        <ul class="cont">
            <li id="demo" style="color: black" ;></li>
            <li class="items actives nd">خانه</li>
            <li class="items nd">درباره ما</li>
            <li class="items nd">تماس با ما</li>
            <li class="items nd">محصولات</li>
            <li class="items nd">آموزش ها</li>
            <li class="items nd">ورود</li>
            <li class="items nd">رستوران</li>
            <li class="nd">
                <form class="input-form ndd">
                    <input class="search" placeholder="جستجو کنید">
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                </form>
            </li>
            <!-- <div class="dropdown">
                <li class="dropbtn items">جستجو <i class="fa fa-caret-down"></i></li>
                <div class="dropdown-content">

                </div>
            </div>-->
            <li class="fa fa-ellipsis-h lists" id="ls"></li>
            <div class="hi">
                <ul class="cont2">
                    <li class="itms" id="item">خانه</li>
                    <li class="itms" id="item">درباره ما</li>
                    <li class="itms" id="item">تماس با ما</li>
                    <li class="itms" id="item">محصولات</li>
                    <li class="itms" id="item">آموزش ها</li>
                    <li class="itms" id="item">ورود</li>
                    <li class="itms" id="item">رستوران</li>
                    <li class="itms" id="item">
                        <form>
                            <input class="search" placeholder="جستجو کنید">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div>

            <br>
        </ul>
    </nav>
    <br>

</div>