{% load static %}
<style>
    a {
        text-decoration: none;
        color: currentColor;
    }

    a:hover {
        text-decoration: none;
        color: currentColor;
    }

    .navbar-left {
        float: left;
    }
</style>

<div id="header">

    <nav class="navbars navbar-fixed-top">
        <ul class="cont col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <li id="demo" style="color: black" ;></li>
            <a href="/">
                <li class="items {% if request.path == "/" %}actives{% endif %} nd">خانه</li>
            </a>
            <a href="/products/">
                <li class="items {% if request.path == "/products/" %}actives{% endif %} nd">محصولات</li>
            </a>
            <a href="/products/products-list">
                <li class="items {% if request.path == "/products/products-list" %}actives{% endif %} nd">همه ی محصولات
                </li>
            </a>
            <a href="/courses/">
                <li class="items {% if request.path == "/courses/" %}actives{% endif %} nd"> دوره ها</li>
            </a>
            <form style="text-align: center" class="navbar-form navbar-center" method="GET" action="/search">
                <div class="form-group" style="margin-top: 0.5%">
                    <input type="text" name="searching" class="form-control search-bar" style="width: 275px"
                           placeholder="جستجو کنید...">
                    <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search "></i>
                    </button>
                </div>

            </form>
            <br>
        </ul>

        <ul class="nav navbar-nav navbar-left cont col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a style="text-align: center" href="/admin/">
                {% else %}
                    <a style="text-align: center" href="/account/dashboard">
                {% endif %}
            <li style="margin-top: 3.5%" class="nd">
                <img style="width: 25%" src="{% static "images/user-red.png" %}" alt="">
            </li>
            </a>
            {% else %}
                <a style="float: left" href="/login">
                    <li class="items nd">ورود</li>
                </a>
            {% endif %}
        </ul>
    </nav>
    <br>

</div>