{% extends "base.html" %}
{% load static %}

{% block header_style %}
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="{% static "css/product.css" %}">
{% endblock %}


{% block main %}
    <br><br><br><br>
    <div class="row">

        <div class="product-head">
            <div class="style">
                <div class="information">
                    <div class="name">
                        <img width="100%" src="{{ object.image.url }}" alt="">
                        <h2 class="master_title">{{ object.title }}</h2>
                    </div>
                    <div class="head_des">
                        <p>{{ object.description }}</p>
                    </div>
                    <div class="append">
                        <h2 class="text text-center seller-name">فروشنده : {{ object.seller }}</h2>
                        <hr>
                        {% if object.price < 100000 %}
                            <label class="btn btn-success price-label">
                        {% elif object.price < 500000 %}
                            <label class="btn btn-primary price-label">
                        {% elif object.price < 1000000 %}
                            <label class="btn btn-warning price-label">
                        {% else %}
                            <label class="btn btn-danger price-label">
                        {% endif %}
                        {{ object.price }} تومان</label>
                        <hr>
                        <form action="/cart" method="GET">
                            <input name="add-cart" type="text" value="{{ object.id }}" hidden>
                            <button type="submit" class="btn btn-block btn-info btn-append">افزودن به سبد خرید</button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}